<section class="container mt-3">
  <h3>Student Name : {{ stdData?.name }}</h3>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    @for (subj of subjects; track $index) {
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="{{ subj.id }}"
        id="sub{{ $index }}"
        (change)="onSubjectSelectionChange(subj, $event)"
        [checked]="subj.selected"
      />
      <label class="form-check-label" for="sub{{ $index }}">
        {{ subj.name }}
      </label>
    </div>
    }
    <button type="submit" class="btn btn-primary my-3">Submit</button>
  </form>
  <div class="text-center">
    <a routerLink="/students">back to list</a>
  </div>
</section>
